<%= stylesheet_link_tag 'authors', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Editing author</h1>

<%= render 'form', author: @author %>

<div id="edit_form_button">
  <%= link_to 'Show', @author, class: "btn btn-default outline" %>
  <%= link_to 'Back', authors_path, class: "btn btn-default outline" %>
</div>
