<%= stylesheet_link_tag 'authors', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>New Author</h1>

<%= render 'form', author: @author %>

  <button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'Back', authors_path, {:style=>'color:#333333;', :class => "css_class"} %></button>
