<%= stylesheet_link_tag 'papers', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>New Paper</h1>

<%= render 'form', paper: @paper %>

<button type="button" class="btn btn-primary btn-outline-secondary"><%= link_to 'Back', papers_path, {:style=>'color:#333333;', :class => "css_class"} %></button>
