<%= stylesheet_link_tag 'papers', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>

<div class="container">
  <%= render 'form', paper: @paper %>
</div>
