<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title%>
</p>

<button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'Edit', edit_paper_path(@paper), {:style=>'color:#333333;', :class => "css_class"} %></button>
<button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'Back', papers_path, {:style=>'color:#333333;', :class => "css_class"} %></button>
