/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import 'bootstrap';

 #navbar_header {
   margin-right: 10px;
 }

 .nav {
   list-style: none;
   font-weight: bold;
   margin-bottom: 10px;
   width: 100%;
   text-align: center;
   background-color: #f2f2f2;
   height: 50px;
   color: #5bc0de;
 }

.navbar-brand {
  color: #8c8c8c;
}

.nav > li {
  padding-top: 0px;
  min-height: 110px;
  min-width: 110px;
  text-align: center;
  margin-left: 155px;
}

.nav > li.active {
  color: #3c5a78;
  font-size: 16px;
}
