/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require jquery.datetimepicker
 *= require_self
 */

@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  //margin: 80px auto;
}

.has-search .form-control {
  border-radius: 33px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

table th {
  color: #0074D9;
}

.navbar {
  margin-bottom: 20px;
  border: 1px solid #e1e6ea;
}

.bg-light {
  background-color: #f2f2f2 !important;
}

#actions {
  margin-top: 80px;
}

#actions .float-left {
  margin-bottom: 20px;
  margin-right: 15px;
}

.page-link {
  color: #0074D9;
}

.page-item.active .page-link {
  background-color: #0063cc;
  border-color: #0063cc;
}

#show_table th {
  color: #000;
}

#delete_all_btn {
  display: none;
}

#submit_button {
  padding-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  #page_entries_info {
    display: none;
  }
}
