// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#button_tool {
  margin-left: 75px;
  margin-right: auto;
  padding-left: 25px;
}

#new_form_button {
  position: fixed;
  bottom: 130px;
  right: 409px;
}

#create_new_author_button {
  margin-left: 1162px;
  padding-bottom: 20px;
}

#form {
  position: absolute;
  top: 250px;
  padding-bottom: 30px;
  padding-top: 60px;
  margin-left: 140px;
  margin-right: auto;
}

#show_table {
  table-layout: fixed;
  margin-top: 200px;
  margin-left: 310px;
  margin-right: auto;
  width: 730px;
}

#show_table th {
  width: 25%;
}


#edit_form_button {
  position: fixed;
  bottom: 380px;
  right: 397px
}

#show_form_button {
  margin-left: 310px;
  margin-top: 40px;
}

#error_explanation {
  position: fixed;
  height: 110px;
  padding-bottom: 10px;
  width: 1800px;
  bottom: 650px;
}

#error_explanation h3 {
  margin-left: 90px;
}

#error_explanation ul li {
  margin-left: 90px;
}

// Regular responsivbe screen
@media screen and (max-width: 1024px) {
  #create_new_author_button {
    margin-left: 1020px;
  }
  #form {
    padding-top: 100px;
    margin-left: 0px;
  }
  #new_form_button {
    bottom: 520px;
    right: 885px;
  }
  #error_explanation {
    bottom: 850px;
  }
}



// Regular responsivbe screen (ipad)
@media screen and (max-width: 780px) {
  #create_new_author_button {
    margin-left: 1161px;
  }
  #form {
    padding-top: 100px;
    margin-left: 0px;
  }
  #new_form_button {
    bottom: 1200px;
    right: 720px;
  }
  #error_explanation {
    bottom: 1565px;
  }
  #edit_form_button {
    bottom: 1220px;
    right: 710px;
  }
  #show_table {
    margin-left: 155px;
    width: 530px;
  }
  #show_form_button {
    margin-left: 155px;
  }
}

// iphone 6, 6s, 7, 8
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  #create_new_author_button {
    margin-left: 1035px;
  }
  #form {
    padding-top: 50px;
    margin-left: -110px;
    right: -120px
  }
  #new_form_button {
    bottom: 1680px;
    right: 877px;
  }
  #error_explanation {
    bottom: 1960px;
  }
  #error_explanation h3 {
    font-size: 16px;
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #edit_form_button {
    bottom: 1680px;
    right: 875px;
  }
  #show_table {
    margin-left: 50px;
    width: 580px;
  }
  #show_form_button {
    margin-left: 60px;
  }
}

// iphone X
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #create_new_author_button {
    margin-left: 1035px;
  }
  #form {
    padding-top: 50px;
    margin-left: -110px;
    right: -120px
  }
  #new_form_button {
    bottom: 2100px;
    right: 880px;
  }
  #error_explanation {
    bottom: 2420px;
  }
  #error_explanation h3 {
    font-size: 16px;
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #edit_form_button {
    bottom: 2110px;
    right: 875px;
  }
  #show_table {
    margin-left: 50px;
    width: 610px;
  }
  #show_form_button {
    margin-left: 55px;
  }
}

// iphone 6+, 6s+, 7+, 8+
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #create_new_author_button {
    margin-left: 1035px;
  }
  #form {
    padding-top: 50px;
    margin-left: -110px;
    right: -120px
  }
  #new_form_button {
    bottom: 1880px;
    right: 960px;
  }
  #error_explanation {
    bottom: 2180px;
  }
  #error_explanation h3 {
    font-size: 18px;
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #edit_form_button {
    bottom: 1880px;
    right: 960px;
  }
  #show_table {
    margin-left: 50px;
    width: 670px;
  }
  #show_form_button {
    margin-left: 55px;
  }
}

// ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  #create_new_author_button {
    margin-left: 1560px;
  }
  #form {
    padding-top: 100px;
    margin-left: 0px;
  }
  #new_form_button {
    bottom: 1800px;
    right: 890px;
  }
  #error_explanation {
    bottom: 2150px;
  }
  #edit_form_button {
    bottom: 1781px;
    right: 890px;
  }
  #show_table {
    margin-left: 155px;
    width: 730px;
  }
  #show_form_button {
    margin-left: 155px;
  }
}
