// Place all the styles related to the Authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#button_tool {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
}

#new_form {
  padding-top: 250px;
}

#create_new_author_button {
  margin-left: 1162px;
  padding-bottom: 20px;
}

h1 {
  position: absolute;
  top: 200px;
  left: 155px;
}

#form {
  position: relative;
  top: 250px;
  padding-bottom: 30px;
}

#show_table {
  margin-top: 250px;
  margin-left: 165px;
  margin-right: auto;
  width: 1110px;
}

#show_buttons {
  padding-top: 18px;
  margin-left: 165px;
  padding-bottom: 100px;
}

#show_table th {
  width: 25%;
}

#edit_form_button {
  padding-top: 250px;
  margin-left: 1150px;
  padding-bottom: 40px;
}
