// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#button_tool {
  margin-left: auto;
  margin-right: 10px;
  width: 190px;
}

#authors_boxed_list {
  select,ul { height: 400px; overflow: auto; width: 300px; border: 1px solid #bfbfbf; border-radius: 5px; }
  ul { list-style-type: none; margin: 0; padding: 0; overflow-x: hidden; }
  li { margin: 0; padding: 0; }
  label { color: #262626; background-color: transparent; margin: 0; padding: 1px; width: 100%; }
  label:hover { background-color: Highlight; color: HighlightText; }
}

#authors_boxed_list label input {
  margin-right: 5px;
  margin-left: 10px;
}

#new_form_button {
  padding-top: 1290px;
  margin-left: 990px;
  padding-bottom: 70px;
 }

 #create_new_author_button {
  margin-left: 160px;
  padding-bottom: 40px;
 }

#create_new_paper {
  margin-left: 1165px;
  padding-bottom: 20px;
}

#import_button {
  margin-left: 960px;
  margin-top: 100px;
  padding: 10px 20px;
}

#form {
  position: absolute;
  top: 250px;
  padding-bottom: 30px;
  padding-top: 60px;
  margin-left: 150px;
  margin-right: auto;
}

#error_explanation {
  position: absolute;
  height: 150px;
  width: 1800px;
  bottom: 606px;
}

#error_explanation h3 {
  margin-left: 90px;
}

#error_explanation ul li {
  margin-left: 90px;
}

#show_table {
  table-layout: fixed;
  margin-top: 200px;
  margin-left: 310px;
  margin-right: auto;
  width: 800px;
}

#show_table th {
  width: 16%;
}

#show_buttons {
  padding-top: 25px;
  margin-left: 310px;
  padding-bottom: 100px;
}

#showing_page_header {
  position: absolute;
  top: 120px;
  left: 160px;
  font-size: 35px;
}

#edit_form_button {
  padding-top: 1290px;
  margin-left: 915px;
  padding-bottom: 70px;
}

@media screen and (max-width: 480px) {
  #create_new_paper {
    margin-left: 1040px;
  }
}

// Regular responsive screen
@media screen and (max-width: 1024px) {
  #create_new_paper {
    margin-left: 1570px;
  }
}


// Regular responsive screen (ipad)
@media screen and (max-width: 780px) {
  #create_new_paper {
    margin-left: 1165px;
  }
  #form {
    top: 250px;
    margin-left: -10px;
  }
  #import_button {
    margin-top: 150px;
    margin-left: 540px;
    padding: 5px 5px;
  }
  #error_explanation {
    bottom: 810px;
  }
  #error_explanation h2 {
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #new_form_button {
    padding-top: 1100px;
    margin-left: 540px;
   }
   #edit_form_button {
     padding-top: 1320px;
     margin-left: 150px;
   }
   #show_table {
     margin-left: 170px;
   }
   #show_buttons {
     margin-left: 170px;
   }
}

// iphone 6, 6s, 7, 8
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  #create_new_paper {
    margin-left: 1045px;
  }
  #form {
    top: 250px;
    margin-left: -50px;
  }
  #import_button {
    margin-top: 150px;
    margin-left: 365px;
    padding: 5px 5px;
  }
  #error_explanation {
    bottom: 450px;
  }
  #error_explanation h2 {
    font-size: 20px;
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #new_form_button {
    padding-top: 1100px;
    margin-left: 350px;
   }
   #edit_form_button {
     padding-top: 1320px;
     margin-left: 110px;
   }
   #show_table {
     margin-left: 60px;
   }
   #show_buttons {
     margin-left: 60px;
   }
}

// iphone X
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  #create_new_paper {
    margin-left: 1045px;
  }
  #form {
    top: 250px;
    margin-left: -50px;
  }
  #import_button {
    margin-top: 150px;
    margin-left: 365px;
    padding: 5px 5px;
  }
  #error_explanation {
    bottom: 600px;
  }
  #error_explanation h2 {
    font-size: 20px;
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #new_form_button {
    padding-top: 1100px;
    margin-left: 350px;
   }
   #edit_form_button {
     padding-top: 1320px;
     margin-left: 110px;
   }
   #show_table {
     margin-left: 60px;
   }
   #show_buttons {
     margin-left: 60px;
   }
}

// iphone 6+, 6s+, 7+, 8+
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #create_new_paper {
    margin-left: 1045px;
  }
  #form {
    top: 250px;
    margin-left: -50px;
  }
  #import_button {
    margin-top: 150px;
    margin-left: 365px;
    padding: 5px 5px;
  }
  #error_explanation {
    bottom: 520px;
  }
  #error_explanation h2 {
    font-size: 20px;
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #new_form_button {
    padding-top: 1100px;
    margin-left: 350px;
   }
   #edit_form_button {
     padding-top: 1320px;
     margin-left: 110px;
   }
   #show_table {
     margin-left: 60px;
   }
   #show_buttons {
     margin-left: 60px;
   }
}

// ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  #create_new_paper {
    margin-left: 1565px;
  }
  #form {
    top: 250px;
    margin-left: -10px;
  }
  #import_button {
    margin-top: 150px;
    margin-left: 800px;
    padding: 5px 5px;
  }
  #error_explanation {
    bottom: 1150px;
  }
  #error_explanation h2 {
    margin-left: -10px;
  }
  #error_explanation ul li {
    font-size: 12px;
    margin-left: 10px;
  }
  #new_form_button {
    padding-top: 1100px;
    margin-left: 790px;
   }
   #edit_form_button {
     padding-top: 1320px;
     margin-left: 150px;
   }
   #show_table {
     margin-left: 170px;
   }
   #show_buttons {
     margin-left: 170px;
   }
}
