// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#button_tool {
 margin-left: auto;
 margin-right: auto;
 width: 190px;
}

#authors_boxed_list {
  select,ul { height: 400px; overflow: auto; width: 300px; border: 1px solid #bfbfbf; border-radius: 5px;}
  ul { list-style-type: none; margin: 0; padding: 0; overflow-x: hidden; }
  li { margin: 0; padding: 0; }
  label { color: #262626; background-color: transparent; margin: 0; padding: 1px; width: 100%; }
  label:hover { background-color: Highlight; color: HighlightText; }
}

#authors_boxed_list label input {
  margin-right: 5px;
  margin-left: 10px;
}

#new_form {
   padding-top: 250px;
   margin-left: 1220px;
   padding-bottom: 55px;
 }

 #create_new_author_button {
   margin-left: 160px;
   padding-bottom: 40px;
 }

#create_new_paper_export_button {
  margin-left: 1095px;
  padding-bottom: 20px;
}
